.display {
	grid-column: 3 / 4;
	grid-row: 1 / -1;
}

.create {
	display: flex;
	grid-row: 2 / 3;

	align-items: center;
	justify-content: space-around;
}

.form-group {
	label {
		padding: 1rem;
	}

	input {
		padding: 0.2rem 1rem;
	}
}

.btn {
	padding: 0.2rem 1rem;
	&--container {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	&--submit {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		width: 5rem;
		margin-right: 1rem;
	}
}
